extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Joseph Lander

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p My background is in teaching students and teachers alike in how to best explain technical information. Post teaching career, I become a videographer creating video bites for company promotions.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li SASS & BEM
          li CSS Animations
          li SVGs 
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li FTP Transfer 
          li Domain Setup
          li Node.js
          li Express
          li Pug
          li npm
          li Gulp 

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li +44 7366 609548
          li josephclander@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/josephclander/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/josephclander', target="_blank") GitHub
        a.btn-link(href='https://codepen.io/tidyjoe/collections/', target="_blank") Codepen

    nav.nav
      a(href='/')
        span &larr;
        |  Back